<div class="cover-card table-cell table-middle">
  <img src="{{ site.url }}/img/{{ metadata.author.avatar }}" alt="cartoon of my face" class="avatar">
  <a href="{{ metadata.author.personal_site }}" class="author_name">{{ metadata.author.name }}</a>
  <span class="author_job">{{ metadata.tagline }}</span>
  <span class="author_bio metadata.author_bio1 mbm">{{ metadata.author.bio1 }}</span>
  <span class="author_bio mbm">{{ metadata.author.bio2 }}</span>
  <nav class="nav">
    <ul class="nav-list">
      {% for page in collections.all | eleventyNavigation %} {% if page.title %}
      <li class="nav-item">
        <a href="{{ page.url | url }}">{{ page.title }}</a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </nav>
  <div class="social-links">
    <ul>
      {% if metadata.author.twitter %}
        <li><a href="http://twitter.com/{{ metadata.author.twitter }}" class="social-link-item"><i class="fa fa-fw fa-twitter"></i></a></li>
      {% endif %}

      {% if metadata.author.github %}
        <li><a href="http://github.com/{{ metadata.author.github }}" class="social-link-item"><i class="fa fa-fw fa-github"></i></a></li>
      {% endif %}

      {% if metadata.feed.path %}
        <li><a href="{{ metadata.feed.path | url }}" class="social-link-item"><i class="fa fa-fw fa-rss"></i></a></li>
      {% endif %}
    </ul>
  </div>
</div>
